api/application/controllers/VueTest/VueBasic.php
api/application/views/vue-test.php
api/public/vue-test.zip
api/public/vue.min.js
*.trash
.vscode/launch.json
api/application/libraries/php-jwt-master.zip
ui/Smartscore.bat
ui/debug.log
ui/src/assets/docs/ref/
*.log
ui/stats.json
ui/src/assets/docs/FormatDataSiswa-2.xlsx
api/application/controllers/Admin/Testing.php
ui/src/scripts/plugins/select2.full.min.js
ui/src/styles/select2.min.css
ui/src/styles/select2.css
smartscore_empty.sql
Smartscore.zip
smartscore_filled.sql
