.ss-logout-btn {
    background-color: rgb(175, 61, 61);
}

.ss-white-text {
    color: #fff;
    opacity: 1 !important;
}

.ss-error {
    color: rgb(241, 89, 63);
}

.ss-modal {
    display: block !important;
    background-color: rgba(187, 187, 187, 0.21);
}

.less-m-b {
    margin-bottom: -50px !important;
}

/* No border radius! */
.ss-no-b-r {
    border-radius: 0 !important;
}

.ss-cursor-pointer {
    cursor: pointer;
}
