@import url('checkbox.css');
@import url('loader.css');

.ss-logout-btn {
    background-color: rgb(175, 61, 61);
}

.ss-white-text {
    color: #fff;
    opacity: 1 !important;
}

.ss-error {
    color: rgb(241, 89, 63);
}

.ss-loading-text {
    font-weight: bold;
}

.ss-modal {
    display: block !important;
    background-color: rgba(187, 187, 187, 0.21);
}

.less-m-b {
    margin-bottom: -50px !important;
}

.ss-m-t-5 {
    margin-top: 5px;
}

/* No border radius! */
.ss-no-b-r {
    border-radius: 0 !important;
}

.ss-cursor-pointer {
    cursor: pointer;
}

.ss-fly-alert {
    position: fixed;
    z-index: 1024;
    width: calc(100% - 650px);
    left: 30% !important;
    right: 30% !important;
    top: 250px !important;
}

.text-black {
    color: #000 !important;
}

.text-yellow {
    color: #e6db1a;
}

.text-bold {
    font-weight: bold;
}

.nama-kriteria {
    min-width: 200px;
}

.decrease-td-padding {
    padding-top: .4rem !important;
    padding-bottom: .2rem !important;
}

.decrease-paging-line-height {
    line-height: 1 !important;
}

@media (max-width: 991px) {
    .ss-fly-alert {
        width: calc(100% - 32px);
    }
}

@media (max-width: 767px) {
    .ss-fly-alert {
        width: calc(100% - 15px);
    }
}

/*
    Thanks to Joeytje50 for his answer StackOverflow
    https://stackoverflow.com/questions/21842274/cross-browser-custom-styling-for-file-upload-button
*/
label.ss-browse input[type="file"] {
    position: fixed;
    top: -1000px;
}

.ss-browse {
    border-radius: 2px;
    padding: 10px 20px;
    margin: 2px;
    background: rgb(99, 132, 215);
    display: inline-block;
}
.ss-browse:hover {
    background: rgb(78, 111, 194);
    cursor: pointer;
}
.ss-browse:active {
    background: rgb(78, 111, 194);
}
.ss-browse :invalid + span {
    color: #A44;
}
.ss-browse :valid + span {
    color: #4A4;
}
.ss-browse-label {
    color: #fff !important;
}

/* Custom Checkbox */
